<!DOCTYPE html>
<html>
    <head>
        <title>Sala de Aula - Disciplinas</title>
    </head>
    <body>
        <H1> LMS - Impacta </H1>
        <H2>Cadastro de Disciplinas</H2>
        <p><b>{{mensagem}}</b></p>
        <br>
        <form action="/site/disciplinas" method="POST">
            <table>
            <tr>
            <td>Nome:</td><td><input type="text" id="nome" name="nome" autocomplete="off" /></td>
            </tr>
            <tr>
            <td>Professor:</td><td><input type="text" id="professor" name="professor" autocomplete="off" /></td>
            </tr>
            </table>
            <br>
            <button type="submit">Cadastrar nova Disciplina!</button>
            <br>
            <br>
            <br>
        </form>
        <H2>Lista de Disciplinas</H2>
        <div id="disciplinas">
        {% for item in disciplinas %}
        <li>ID: {{ item['id'] }}, Nome: {{ item['nome'] }}, Professor: {{ item['professor'] }}</b></li>
        {% endfor %}
        </div>
        <H2>Remover Disciplina</H2>
        <p><b>{{mensagem_remover}}</b></p>
        <form action="/site/disciplinas/delete" method="POST">
            <table>
            <tr>
            <td>Id:</td><td><input type="text" id="id" name="id" autocomplete="off" size="1"/></td>
            </tr>
            </table>
            <br>
            <button type="submit">Remover Disciplina!</button>
            <br>
            <br>
            <br>
        </form>
        <H2>Gerenciar alunos por Disciplina</H2>
        <H3>Cadastro de alunos por Disciplina</H3>
        <p><b>{{mensagem_aluno_cadastar}}</b></p>
        <br>
        <form action="/site/disciplinas/alunos" method="POST">
            <table>
            <tr>
            <td>Id da disciplina:</td><td><input type="text" id="disciplinaid" name="disciplinaid" autocomplete="off" /></td>
            </tr>
            <tr>
            <td>Id do aluno:</td><td><input type="text" id="alunoid" name="alunoid" autocomplete="off" /></td>
            </tr>
            </table>
            <br>
            <button type="submit">Cadastrar aluno na Disciplina!</button>
            <br>
            <br>
            <br>
        </form>
        <H2>{{msg_aluno_listar}}</H2>
        <H3>Selecione uma disciplina para listar os alunos:</H3>
        <form action="/site/disciplinas/alunos/listar" method="POST">
            <table>
            <tr>
            <td>Id da disciplina:</td><td><input type="text" id="disciplinaid" name="disciplinaid" autocomplete="off" size="1"/></td>
            </tr>
            </table>
            <br>
            <button type="submit">Listar alunos da disciplina!</button>
            <br>
            <br>
        </form>
        <div id="alunosdisciplina">
        {% for item in alunos_disciplina %}
        <li>ID: {{ item['id'] }}, Nome: {{ item['nome'] }}, Matrícula: {{ item['matricula'] }}</b></li>
        {% endfor %}
        </div>
        <H3>Remover aluno de uma Disciplina</H3>
        <p><b>{{mensagem_aluno_remover}}</b></p>
        <form action="/site/disciplinas/alunos/delete" method="POST">
            <table>
            <tr>
            <td>Id da disciplina:</td><td><input type="text" id="disciplinaid" name="disciplinaid" autocomplete="off" size="1"/></td>
            </tr>
            <tr>
            <td>Id do aluno:</td><td><input type="text" id="alunoid" name="alunoid" autocomplete="off" size="1"/></td>
            </tr>
            </table>
            <br>
            <button type="submit">Remover aluno da disciplina!</button>
            <br>
            <br>
            <br>
        </form>
    </body>
</html>